#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.page-header {
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.page-header a.btn {
    text-transform: initial;
    font-size: 14px;
    text-decoration: none;
    color: #2c3e50;
}

.page-nav-back {
    color: #cccccc;
    margin-bottom: 10px;
}

.page-nav-back > a {
    color: #cccccc;
    text-decoration: none;
}

.btn {
    cursor: pointer;
    padding: 8px 12px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 6px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-group label {
    margin-bottom: 5px;
}
.form-group input {
    padding: 6px;
}
.form-group textarea {
    padding: 6px;
}
.form-group.form-group-center {
    align-items: center;
}
